.mb05 {
  margin-bottom: $space-05;
}
.mb1 {
  margin-bottom: $space-1;
}
.mt1 {
  margin-top: $space-1;
}

.p05 {
  padding: $space-05;
}
.p1 {
  padding: $space-1;
}
.p15 {
  padding: $space-15;
}
.p2 {
  padding: $space-2;
}
.p3 {
  padding: $space-3;
}
.p4 {
  padding: $space-4;
}

.paragraph075 {
  font-size: $font-075;
}