@font-face {
  font-family: 'Mona-Sans-Wide';
  font-style: normal;
  src: url('@/assets/fonts/Mona-Sans-BlackWide.otf') format("opentype");
}
@font-face {
  font-family: 'Mona-Sans-Wide';
  font-style: bold;
  src: url('@/assets/fonts/Mona-Sans-BoldWide.otf') format("opentype");
}